body {     

}

.header{
	height: 50px;
	background-color: black;
/*	position: fixed;
	z-index: 10;*/
}

.main-section {
	background: url('../images/background.gif');
	background-size:cover;
	background-repeat: no-repeat;
}

.hero {
	position: absolute;
	width: 100%;
}

.logo {
	text-align: center;
	padding: 80px 0 80px 0;
}

.intro {
	margin: 0px 20px 0px 20px;
	text-align: center;
	font-family: "HelveticaNeue-Light";
	font-size: 15px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.about {
	text-align: center;
	font-family: "HelveticaNeue-Black";
	font-size: 16px;
	position: relative;
	padding: 50px 50px 0 0;
}

.social {
	padding-top: 12px;
	text-align: center;
}

.navigation {
	border-color: #1a1a1a;
	border-style: solid;
	border-width: 1px 1px 0 1px;
	text-align: center;
	height: 50px;
	background-color: black;
	color: white;
	padding: 10px 0 0 0;
}

.work {
	background-color: black;
	text-align: center;
	color: white;
	font-family: "HelveticaNeue-Black";
	font-size: 16px;
	position: relative;
	padding: 50px 0 50px 0;
}

.profilepic {
	position: relative;
}

.icons {
	padding: 0 3px 0 3px;
	display: inline;
	background-color: black;
}

#twitter {
	position: relative;
	margin-top: 50px;
}