body {     

}
/* Header */
#header {
	height: 50px;
	background-color: black;
	position: fixed;
	width: 100%;
	z-index: 10;
}

/* Nav Bar */
.navigation {
	border-color: #1a1a1a;
	border-style: solid;
	border-width: 1px 1px 0 1px;
	text-align: center;
	background-color: black;
	color: white;
	padding: 10px 0 10px 0;
}

.social {
	padding-top: 12px;
	text-align: center;
}

.icons {
	padding: 0 3px 0 3px;
	display: inline;
	background-color: black;
	width: 100%;
}

/* Hero Section */
#main-section {
	background: url('../images/background.gif') center center fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

#logo {
	text-align: center;
	padding: 180px 0 120px 0;
}

#name {
	text-align: center;
	display: inline-block;
	font-family: "HelveticaNeue-Light";
	font-size: 24px;
	color: white;
}

#title {
	font-size: 18px;
}

/* Sections */
.section-title {
	text-align: center;
	font-family: "HelveticaNeue";
	font-size: 16px;
	position: relative;
	padding: 0 50px 0 0;
}

/* About */
#about {
	text-align: left;
	font-family: "HelveticaNeue-Light";
	font-size: 17px;
	padding: 50px 20px 40px 20px;
}

#intro {
	text-align: center;
}

/* Projects */
#projects {
	width: 100%;
	margin: 0;
	padding: 0;
}

@media (min-width: 768px) {
	.project {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

/* Experience */
#experience {
	text-align: justify;
	font-family: "HelveticaNeue-Light";
	font-size: 16px;
	padding: 40px 20px 50px 20px;
}

#years {
	font-family: "HelveticaNeue-Light";
	display: inline;
}

.work {
	font-family: "HelveticaNeue"
}

/* Contact */
#contact {
	height: auto;
	background-color: black;
}

#email {
	text-align: center;
	margin: 20px 0 20px 0;
	font-family: "HelveticaNeue-Light";
	font-size: 15px;
}

#email a {
	color: white;
}

/* Header Animations */
/* Zooms in on social icons as you hover */
.image img {
    -webkit-transition: all 0.3s ease; /* Safari and Chrome */
    -moz-transition: all 0.3s ease; /* Firefox */
    -ms-transition: all 0.3s ease; /* IE 9 */
    -o-transition: all 0.3s ease; /* Opera */
    transition: all 0.3s ease;
}

.image:hover img {
    -webkit-transform:scale(1.4); /* Safari and Chrome */
    -moz-transform:scale(1.4); /* Firefox */
    -ms-transform:scale(1.4); /* IE 9 */
    -o-transform:scale(1.4); /* Opera */
     transform:scale(1.4);
}

/* Background Image */
.view {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: #fff url(../images/bgimg.jpg) no-repeat center center
}

.view .mask, .view .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}

/* Projects Animation */
/* Zooms image and shows text layer */
.view img {
    display: block;
    position: relative;
}

.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}

.view p {
    font-family: "HelveticaNeue";
    font-size: 13px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}

.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
}

.view a.info:hover {
    box-shadow: 0 0 5px #000
}

.view-first img { 
    transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;
    background-color: rgba(247, 44, 31, 0.9); 
    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first p { 
    transform: translateY(100px);
    opacity: 0;
	transition: all 0.2s linear;
}
.view-first a.info{
    opacity: 0;
	transition: all 0.2s ease-in-out;
}

.view-first:hover img { 
	transform: scale(1.1);
} 
.view-first:hover .mask { 
	opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first:hover a.info {
    transition-delay: 0.2s;
}