body {     

}

#header{
	height: 50px;
	background-color: black;
	position: fixed;
	width: 100%;
	z-index: 10;
}

.navigation {
	border-color: #1a1a1a;
	border-style: solid;
	border-width: 1px 1px 0 1px;
	text-align: center;
	background-color: black;
	color: white;
	padding: 10px 0 10px 0;
}

.social {
	padding-top: 12px;
	text-align: center;
}

.icons {
	padding: 0 3px 0 3px;
	display: inline;
	background-color: black;
	width: 100%;
}

#main-section {
	background: url('../images/background.gif') center center fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

#logo {
	text-align: center;
	padding: 180px 0 120px 0;
}

#name {
	text-align: center;
	display: inline-block;
	font-family: "HelveticaNeue-Light";
	font-size: 20px;
	color: white;
}

#title {
	font-size: 16px;
}

.section-title {
	text-align: center;
	font-family: "HelveticaNeue";
	font-size: 15px;
	position: relative;
	padding: 0 50px 0 0;
}

#about {
	text-align: left;
	font-family: "HelveticaNeue-Light";
	font-size: 15px;
	padding: 50px 20px 50px 20px;
}

#intro {
	text-align: justify;
}

#projects {
	width: 100%;
	margin: 0;
	padding: 0;
}

.homepage-tile {
/*	margin: 0;
*/}

#experience {
	text-align: justify;
	font-family: "HelveticaNeue-Light";
	font-size: 15px;
	padding: 50px 20px 50px 20px;
}

.work {
	font-family: "HelveticaNeue"
}

#contact {
	height: auto;
	background-color: black;
}

#email {
	text-align: center;
	margin: 20px 0 20px 0;
	font-family: "HelveticaNeue-Light";
	font-size: 15px;
}

#email a {
	color: white;
}

.image img {
    -webkit-transition: all 0.3s ease; /* Safari and Chrome */
    -moz-transition: all 0.3s ease; /* Firefox */
    -ms-transition: all 0.3s ease; /* IE 9 */
    -o-transition: all 0.3s ease; /* Opera */
    transition: all 0.3s ease;
}

.image:hover img {
    -webkit-transform:scale(1.4); /* Safari and Chrome */
    -moz-transform:scale(1.4); /* Firefox */
    -ms-transform:scale(1.4); /* IE 9 */
    -o-transform:scale(1.4); /* Opera */
     transform:scale(1.4);
}